/* __ __
  / // /____ ____  ____   ___  ____  ____  ____  _
  \ . \/ __// ___// -__/ / _ //__  // _  // -__// /_
 /_//_/ __//____//____/ / __//__-_//_//_//____//___/
     /_/        by diws/_/                aestethic

Actually you can set the opacity and background color of the panel via this gtk.css file, but I didn't do that and chose the manual way instead. 
So if when implementing the panel color looks a little messy, you can follow these instructions 

Panel Settings
	Top:
	Row size: 22px
	Length: 1014px
	Icons: 13px
	Background style: solid color
		   color: #1b1b1b opacity: 0

	Clock Font: Terminus (TTF) Medium 9
	      Format: " %I:%M %p "

	Side:
	Row size: 27px
	Length: automatic
	Icons: 20px
	Background style: solid color
		   color: #1b1b1b opacity: 0
Appereance
	GTK-Theme: Adwaita-Dark
	Window-manager-Theme: Ant Bloody
	Icons: Papirus-Dark, Gruvbox Plus Dark (manual change) 
*/


.xfce4-panel {
/*	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px; */
        font-family: 'Terminus (TTF)';
        font-size: 12px;
	opacity: 1;
} 

/*Whisker*/
#whiskermenu-button {
	background: #cc241d;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
}

/*#whiskermenu-button:checked {
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
}
*/

#whiskermenu-button:hover {
	background: #c5c8c6; opacity: 0.9;
	color: #282828;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 0px;
        border-top-left-radius: 4px;
        border-top-right-radius: 0px;
}

/*Workspace*/
#pager-4 #xfce-panel-toggle-button {
        background: #98971a;
	color: #f9f9f9;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
	margin-left: 4px;
}

#pager-4 #xfce-panel-toggle-button:checked {
        background: #676767; opacity: 1;
	color: #fafafa;
	border-color: #676767;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
	margin-left: 4px;
}


#pager-4 #xfce-panel-toggle-button:hover {
        background: #c5c8c6; opacity: 0.9;
	color: #282828;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
	margin-top: 2px;
	margin-bottom: 2px;
	margin-left: 4px;
}

/*Tasklist*/
.xfce4-panel .tasklist .toggle {
        background: #1b1b1b;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
}

.xfce4-panel .tasklist .toggle:checked {
	background: #676767;
	color: #fafafa;
	border-color: #676767;
	border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
}

.xfce4-panel .tasklist .toggle:hover {
        background: #c5c8c6; opacity: 0.9;
	color: #282828;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
}

/*Notification*/
#xfce4-notification-plugin {
        background: #458588;
	color: #D5D9D6;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 0px;
        border-top-left-radius: 4px;
        border-top-right-radius: 0px;
}

/*#xfce4-notification-plugin:checked {
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
}
*/

#xfce4-notification-plugin:hover {
        background: #c5c8c6; opacity: 0.9;
	color: #282828;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
}

/*Sound*/
#pulseaudio-button {
        background: #458588;
	color: #D5D9D6;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
}

/*#pulseaudio-button:checked {
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
}
*/

#pulseaudio-button:hover {
        background: #c5c8c6; opacity: 0.9;
	color: #282828;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
}

/*Battery*/
#xfce4-power-manager-plugin {
        background: #458588;
	color: #D5D9D6;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 4px;
        border-top-left-radius: 0px;
        border-top-right-radius: 4px;
}

/*#xfce4-power-manager-plugin:checked {
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
}
*/

#xfce4-power-manager-plugin:hover {
        background: #c5c8c6; opacity: 0.9;
        color: #282828;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
}

/*Clock*/
#clock-button {
        background: #83a598;
	color: #f9f9f9;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
}

/*#clock-button:checked {
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
}
*/

#clock-button:hover {
        background: #c5c8c6; opacity: 0.9;
	color: #282828;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
}

/*Note: The launcher ID is obtained by hovering the mouse over the plugin in the panel properties*/
/*Power*/
#launcher-11 #launcher-arrow {
        background: #d3869b;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
}

/*#launcher-11 #launcher-arrow:checked {
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
}
*/

#launcher-11 #launcher-arrow:hover {
        background: #c5c8c6; opacity: 0.9;
        color: #282828;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
}

/*another launcher*/ 

#launcher-22 #launcher-arrow {
        background: #282828;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 0px;
        border-top-left-radius: 4px;
        border-top-right-radius: 0px;
}

#launcher-22 #launcher-arrow:hover {
        background: #c5c8c6; opacity: 0.9;
        color: #282828;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
}


#launcher-23 #launcher-arrow {
        background: #282828;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
}

#launcher-23 #launcher-arrow:hover {
        background: #c5c8c6; opacity: 0.9;
        color: #282828;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
}


#launcher-24 #launcher-arrow {
        background: #282828;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
}

#launcher-24 #launcher-arrow:hover {
        background: #c5c8c6; opacity: 0.9;
        color: #282828;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
}


#launcher-25 #launcher-arrow {
        background: #282828;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 4px;
        border-top-left-radius: 0px;
        border-top-right-radius: 4px;
}

#launcher-25 #launcher-arrow:hover {
        background: #c5c8c6; opacity: 0.9;
        color: #282828;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
}
